<app-employe-count [all]="getTotalEmployeCount()"
[male]="TotalNumberOfMale()"
                   [female]="TotalNumberOfFeMale()"></app-employe-count>
<table>
  <thead>
    <tr>
      <th>code</th>
      <th>name</th>
      <th>gender</th>
      <!--<th>Index</th>
      <th>First</th>
      <th>Last</th>
      <th>even</th>-->
    </tr>
  </thead>
  <tbody>
  <!--trackBy:trackByEmpCode; let i=index; let isFirst=first; let isLast=last;
     let isEven=even-->
    <tr *ngFor="let employee of employe;">
       <td> <a [routerLink]="['employees',employee.code]">
         {{employee.code | uppercase}}</a>
       </td>
        <td> {{employee.name | employeeTitlePipe:employee.gender}}</td>
        <td> {{employee.gender }}</td>
       <!-- <td>{{ i }}</td>
        <td>{{ isFirst}}</td>
        <td>{{ isLast}}</td>
        <td>{{ isEven }}</td>-->
    </tr>
  <tr *ngIf="!employe || employe.length==0">
    <td>No employees to display</td>
  </tr>
  </tbody>
</table>
<!--<action type="Rewrite" url="/src/"/>-->
<br/>
<!--<button (click)="getEmploye()">Refresh</button>-->
<input type="text" placeholder="color" [(ngModel)]="colour" [style.background]="colour"/>
<input type="button" class="btn btn-primary" value="back to home" (click)="onBackButtonClick()"/>
