<table>
  <thead>
    <tr>
      <th>code</th>
      <th>name</th>
      <th>gender</th>
      <th>Index</th>
      <th>First</th>
      <th>Last</th>
      <th>even</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employe; trackBy:trackByEmpCode; let i=index; let isFirst=first; let isLast=last;
     let isEven=even">
        <td> {{employee.code | uppercase}}</td>
        <td> {{employee.name | employeeTitlePipe:employee.gender}}</td>
        <td> {{employee.gender }}</td>
        <td>{{ i }}</td>
        <td>{{ isFirst}}</td>
        <td>{{ isLast}}</td>
        <td>{{ isEven }}</td>
    </tr>
  <tr *ngIf="!employe || employe.length==0">
    <td>No employees to display</td>
  </tr>
  </tbody>
</table>
<br/>
<button (click)="getEmploye()">Refresh</button>
