<div>
  <h1>
    {{title ? title : 'no item'}}!

    <!--<span innerHtml = '{{fucker}}'></span>  this is interpolation
    <span [innterHtml] = 'fucker'></span>   this is property binding
-->
    <!--{{getFullname()}}-->
    <!--<input id="details" value="Tom"/>  to check this use details.getAttribute('value');-->
  </h1>


  <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a  routerLink="home">Home</a> </li>
    <li routerLinkActive="active"><a routerLink="about">about</a> </li>
    <li routerLinkActive="active"><a routerLink="employees">Employes</a> </li>
  </ul>




  <router-outlet></router-outlet>
</div>


